#<a href="https://futureskill.io/content/66892f50-e71d-4ae9-a6c6-428955c728e4">파이썬 50제 5부</a>

In [3]:
corpus = 'Sentence1\nSentence2\nSentence3'

def split_lines(corpus):
	return corpus.split('\n')

split_lines(corpus)

['Sentence1', 'Sentence2', 'Sentence3']

In [6]:
print(corpus,sep='\n')

Sentence1
Sentence2
Sentence3

In [8]:
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def sum_by(lst, fn):
	return sum(map(fn,lst))

sum_by(lst, fn)

20

In [10]:
lst = [1, 2, 3, 4, 5]

def tail(lst):
	return lst[1:] if len(lst) >1 else lst

tail(lst)

[2, 3, 4, 5]

In [13]:
def take(itr, n=1):
	return itr[:n]

take([1,2,3,4,5],3)
#take([1,2,3],5)
#take([1,2,3],0)

[1, 2, 3]

In [40]:
def take_right(itr, n=1):
	return itr[:-n-1:-1]
take_right([1,2,3,4,5],3)
take_right([1,2,3],5)
take_right([1,2,3])

[3]

In [42]:
a = [1,2,3,99]
b = [2,3,4,52] 

def union(a,b):
	return set(a).union(set(b))

union(a,b)

{1, 2, 3, 4, 52, 99}

In [45]:
lst = [1,4,4,4,5,5,2,3,100,150,5220,100,500,300,84961231,65464646]

def unique_elements(lst):
	return sorted(set(lst))

unique_elements(lst)

[1, 2, 3, 4, 5, 100, 5220, 65464646, 300, 84961231, 500, 150]

In [46]:
ages = {
	"Peter":10,
	"Isabel":11,
	"Anna":9,
}

def values_only(flat_dict):
	return list(flat_dict.values())

values_only(ages)

[10, 11, 9]

#<a href="https://www.acmicpc.net/problem/2750">수 정렬하기</a>

In [54]:
N=int(input())
num=[]
for i in range(N):
    num.append(int(input()))
for i in range(N):
    num=sorted(num)
    print(num[i])

5
2
3
4
1
1
2
3
4
5

#<a href="https://www.acmicpc.net/problem/10872">팩토리얼</a>

In [57]:
N=int(input())
result=1
for i in  range(1,N+1):
    result *=i
print(result)

3628800

#<a href="https://www.acmicpc.net/problem/1316">그룹 단어 체커</a>

In [83]:
N = int(input())
result=0
for i in range(N):
    checklist=input()
    check=[]

    for j in range(len(checklist)):
        
        if checklist[j] in check:
            if check[j-1]==checklist[j]:
                check.append(checklist[j])
            else:
                break
        else:
            check.append(checklist[j])
            

    if len(check)==len(checklist):
        result+=1
print(result)

1
z
1

#<a href="https://www.acmicpc.net/problem/2941">크로아티아 알파벳</a>

In [95]:
a='ljes=njak'
a=a.replace('s=','')
a

'ljenjak'

In [113]:
check=['c=','c-','dz=','d-','lj','nj','s=','z=']
word=input()
cnt=0

for item in check:
    if item in word:
        word = word.replace(item,'',1)
        cnt+=1
        continue
print(word)    
print(len(word)+cnt)

c=c=
c=
3

In [112]:
check=['c=','c-','dz=','d-','lj','nj','s=','z=']
word=input()
cnt=0

while True:
    if check in word:
        word = word.replace(item,'',1)
        cnt+=1
    else:
        break
print(len(word)+cnt)

c=c=

KeyboardInterrupt: ignored

In [120]:
n=17
start=0
end=1
for i in range(1,n):
    print(start+end)
    start =end
    end +=start

1
3
6
12
24
48
96
192
384
768
1536
3072
6144
12288
24576
49152