#<a href ="https://futureskill.io/content/667cc0d4-f326-419b-b67b-d966eef5f16b"> 파이썬 50제 1부</a>

In [5]:
def all_unique(lst):
    return len(lst)==len(set(lst))
all_unique([1,2,3,4,5,6])

True

In [8]:
s = "hello world"

def capitalize_every_word(s):
	return s.title()

print(capitalize_every_word(s))

Hello World

In [10]:
celsius = 180

def celsius_to_fahrenheit(celsius):
	return (celsius*1.8)+32

print(celsius_to_fahrenheit(celsius))

356.0

In [17]:
lst = [0, 1, False, 2, '', 3, 'a', 's', 34]

def compact(lst):
	return list(filter(None,lst))

print(compact(lst))

[1, 2, 3, 'a', 's', 34]

In [18]:
lst = [1,1,2,1,2,3]

def count_occurences(lst, val):
	return lst.count(val)

print(count_occurences(lst,1))

3

In [21]:
from math import pi 
degrees = 180

def degrees_to_rads(degrees):
	return (degrees*pi)/180

print(degrees_to_rads(degrees))

3.141592653589793

In [26]:
lst1 = [1,2,3]
lst2 = [1,2,4]

def difference(a,b) : 
	return list(set(a).difference(b))

print(difference(lst1, lst2))

[3]

In [28]:
a = 123

def digitize(n):
	return list(map(int,str(a)))

print(digitize(a))

[1, 2, 3]

In [34]:
def drop(lst, n=1):

	return lst[n:]

drop([1,2,3])

[2, 3]

#<a href="https://futureskill.io/content/fe594a6e-59fc-407e-b68c-9acbf712f624">파이썬 50제 2부</a>

In [35]:
def drop_right(lst, n=1):
	return lst[:-n]
drop_right([1,2,3])

[1, 2]

In [40]:
lst = [1,2,3,4,5,6]

def every_nth(lst, n):
	return lst[n-1::n]

print(every_nth(lst, 2))
print(every_nth(lst, 3))

[2, 4, 6]
[3, 6]

In [47]:
fahrenheit = 77

def fahrenheit_to_celsius(fahrenheit):
	return (fahrenheit-32)/1.8

print(fahrenheit_to_celsius(fahrenheit))

25.0

In [51]:
from collections import Counter
lst = [1,2,2,3,4,4,5]

def filter_non_unique(lst):
	return [item for item,count in Counter(lst).items() if count==1 ]

filter_non_unique(lst)

[1, 3, 5]

In [52]:
from collections import Counter
lst = [1,2,2,3,4,4,5]

def filter_unique(lst):
	return [item for item,count in Counter(lst).items() if count !=1]

filter_unique(lst)

[2, 4]

In [53]:
itr = [1,2,3]
fn = print

def for_each(itr, fn):
    for i in itr:
        fn(i)

for_each(itr, fn)

1
2
3

In [55]:
itr = [1,2,3]

def for_each_right(itr, fn):
	for i in reversed(itr):
         fn(i)

for_each_right(itr, print)

3
2
1

In [57]:
lst = [1,2,3]

def has_duplicates(lst):
	return len(set(lst)) != len(lst)

has_duplicates(lst)

False

In [59]:
lst = [1,2,3]

def head(lst):
	return lst[0]

head(lst)

1

In [67]:
def in_range(n, start, end=0):
	return start <= n <= end if start<=end else  end <= n <=start 
in_range(3,4)

True

#<a href="https://futureskill.io/content/f86d513a-1004-479e-86d7-6c99510a3202">파이썬 50제 3부</a>

In [68]:
lst = [1,2,3,4,5]

def initial(lst):
	return lst[:-1]

initial(lst)

[1, 2, 3, 4]

In [74]:
def initialize_list_with_range(end, start=0, step=1):
	return [item for item in range(start,end+1,step)] 

initialize_list_with_range(5)

[0, 1, 2, 3, 4, 5]

In [79]:
def initialize_list_with_values(n, val=0):
	return [val]*n
initialize_list_with_values(5,2)

[2, 2, 2, 2, 2]

In [80]:
lst1 = [1,2,3]
lst2 = [2,3,4] 

def intersection(a,b):
	return [item for item in b if item in set(a)]

intersection(lst1,lst2)

[2, 3]

In [81]:
a = 9
b = 3

def is_divisible(dividend, divisor):
	return dividend % divisor==0

is_divisible(a, b)

True

In [82]:
a = 9

def is_even(num):
	return num % 2 ==0

is_even(a)

False

In [83]:
a = 4

def is_odd(num):
	return num % 2 != 0

is_odd(a)

False

In [89]:
ages = {
	"Peter":10,
	"Isabel":11,
	"Anna":9,
}

def keys_only(flat_dict):
	return list(flat_dict)

keys_only(ages)

[10, 11, 9]

In [90]:
lst = [1,2,3]

def last(lst):
	return lst[-1]

last(lst)

3

In [94]:
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def max_by(lst, fn):
	return max(map(fn,lst))

max_by(lst, fn)

8

#<a href="https://futureskill.io/content/ca6d0d6d-3acb-4448-84ac-98dfb8504b68">파이썬 50제 4부</a>

In [96]:
lst = [5,8,9,7,10,3,0]

def max_element_index(lst):
	return lst.index(max(lst))

max_element_index(lst)

4

In [102]:
def max_n(lst, n=1):
	return lst[:-n-1:-1]
max_n([1,2,3])

[3]

In [130]:
def median(lst):
  lst.sort()
  lst_length = len(lst)
  if lst_length % 2 == 0:
      return (lst[int(lst_length/2)-1]+lst[int(lst_length/2)])/2  
  return (lst[int(lst_length/2)])

median([1,2,3])
median([1,2,3,4])

In [133]:
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def min_by(lst, fn):
	return min(map(fn,lst))

min_by(lst, fn)

2

In [142]:
def min_n(lst, n=1):
	return sorted(lst,reverse=False)[:n]

min_n([1,2,3])
min_n([1,2,3], 2)

[1, 2]

In [144]:
def most_frequent(lst):
	return max(set(lst),key=lst.count)

most_frequent([1,2,3,4,4])
most_frequent([1,2,1,2,3,2,1,4,2])

4

In [145]:
def n_time_string(s,n):
	return s*n

n_time_string('py',4)

'pypypypy'

In [148]:
def offset(lst,n):
	return lst[n:] +lst[:n]
offset([1,2,3],1)
offset([3,4,5,6,7],2)

[2, 3, 1]

In [154]:
from math import pi 

def rads_to_degrees(rads):
    return (rads*180.0) / pi
    

rads_to_degrees(pi/2)

90.0

In [155]:
s="snippet"

def reverse_string(s):
	return s[::-1]

reverse_string(s)

'teppins'

#<a href="https://futureskill.io/content/66892f50-e71d-4ae9-a6c6-428955c728e4">파이썬 50제 5부</a>

In [160]:
from random import randint
ages=[12,12,13,14,15]

def sample(lst):
	return lst[randint(0,len(lst)-1)]

sample(ages)

14

In [161]:
lst1 = [1, 2, 3]
lst2 = [1, 2, 4]

def similarity(a, b):
	return list(set(a).intersection(set(b)))

similarity(lst1, lst2)

[1, 2]